/* header */
.sec-space-left-right {
  padding: 0px 60px;
}

.headmenu2 {
  list-style-type: none !important;
}

.headmenu2 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 10px;
  text-transform: uppercase;
}

/* search */
.has-search .form-control {
  padding-left: 2.375rem;
  border: 1px solid #C3C3C3;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #15A7E8;
  padding-top: 6px;
}

/* search-end */

.headermenusec {
  color: #0B1A48;
  border-style: dotted;
  font-family: 'Plus Jakarta Sans';
  padding: 0px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin-left: 40px;
  position: relative;
  z-index: 999;
}

.headermenusec:hover {
  color: #E01D42;
}

/* header-end */


.sliderherobg {
  background-image: url(../images/slider-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.srcpaddhero {
  padding: 40px 0px 40px 40px;
}

.sec-imgmarg {
  margin-top: -10px;
  margin-bottom: -20px;
  text-align: center;
  display: flex !important;
    justify-content: center;
}

.srcpaddhero h1 {
  font-family: 'Poppins';
  font-size: 33px;
  color: #000;
  font-weight: 700;
}

.srcpaddhero2 {
  padding: 40px 40px 40px 0px;
}

.srcpaddhero2 p {
  font-family: 'Poppins';
  font-size: 20px;
  color: #000;
}

.secherbtn {
  padding-top: 30px;
}

.secherbtn a {
  font-family: 'Poppins';
  font-size: 16px;
  color: #fff;
  background-color: #E01D42;
  padding: 10px 25px;
  border-radius: 10px;
  text-decoration: none;
}
.secherbtn a:hover{
  background-color: #15A7E8;
}

.owl-dots {
  text-align: center;
  padding-top: 10px;
}

button.owl-dot {
  background: #F0F0F0 !important;
  width: 18px;
  height: 18px;
  margin: 1px;
  border: 0px solid !important;
  border-radius: 50px;
  margin-left: 10px;
}

button.owl-dot.active {
  background: #1DA09A !important;
  width: 18px;
}

.hero-slider .owl-nav.disabled {
  display: none;
}

.secpaddmain {
  padding: 100px 10px 150px 10px;
}
.secheaddlig{
  text-align: center;
  padding-bottom: 30px;
}
.secheaddlig H2{
  font-family: 'Poppins';
  font-weight: 600;
  color: #000;
  font-size: 40px;
}
.secheaddlig P{
  font-family: 'Poppins';
  color: #000;
}
.secbribox{
  padding-bottom: 30px;
}
.secboxbg {
  background: #d2f3ff;
  background: linear-gradient(90deg, rgba(210, 243, 255, 1) 0%, rgba(255, 255, 255, 1) 91%);
  padding: 50px 30px 50px 180px; 
  border-radius: 16px;
}
.secboxbg h2{
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 30px;
  color: #000;
}
.secboxbg p{
  font-family: 'Poppins';
  color: #000;
  font-size: 20px;
}
.secboxleftimg{
  position: relative;
}
.secboxleftimg::after{
  content: "";
  position: absolute;
  background-image: url(../images/Frameafter.png);
  background-repeat: no-repeat;
  width:279px ;
  height: 1074px;
  top: -100px;
  left: -148px;
  z-index: 999;
}
.whybgsec{
  background-image: url(../images/bell-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 20px;
  border-radius: 16px;
}

.secwhytext h3{
  font-family: 'Poppins';
  color: #000;
  font-size: 40px;
  font-weight: 600;
}

.secwhytext p{
  font-family: 'Poppins';
  color: #000;
  padding-top: 10px;
  font-size: 18px;
}

.modal-lg, .modal-xl {
  --bs-modal-width: 800px;
}
.sec-padd{
  padding: 100px 10px;
}
.secgalleybt{
  text-align: center;
}

.sectestemotittle h4{
  font-family: 'Poppins';
  color: #000;
  font-size: 28px;
}

.sectestemotittle p{
  font-family: 'Poppins';
  color: #565656;
  font-size: 18px;
  font-style: italic;
}

.owl-nav.disabled{
  display: none;
}


.test-slider button.owl-dot.active {
  background: #E01D42 !important;
  width: 18px;
  margin: 0;
}

.test-slider .owl-dots {
  text-align: left;
  padding-top: 20px;
}

.sec-padd2{
  padding-bottom: 100px;
}

/* footer */
.secfootrbg {
  padding: 60px 70px;
  background-color: #f7f7f7;
}

.seccallfooter i {
  color: #15A7E8;
  font-size: 40px ;
  padding-right: 10px;
  border-right: 1px solid #c7c5c5;
}

.footer-callbg {
  padding-left: 20px;
}

.footer-callbg p {
  margin: 0px;
  color: #15A7E8;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 16px;
}

.footer-callbg p a {
  margin: 0px;
  color: #0B1A48;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
}

.secfootadd {
  font-family: 'Poppins';
  font-weight: 700;
  color: #000;
  font-size: 17px;
  padding-top: 10px;
}

.secfootadd a {
  font-weight: 500;
  color: #0B1A48;
  font-size: 17px;
  text-decoration: none;
}

.footertitt {
  color: #000;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-left: 50px;
}

.secpfoot {
  padding-left: 50px;
}

.secpfoot p {
  margin-bottom: 0px;
  padding-top: 10px;
}

.secpfoot p a {
  font-family: 'Poppins';
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
.secpfoot p a:hover{
  color: #15A7E8;
}
.secpoli a:hover{
  color: #15A7E8;
}
.socalmediasec {
  padding-top: 30px;
  display: flex;
}

.socalmediasec p {
  padding-left: 20px;
}

.socalmediasec p a {
  border: 1px solid #999999;
  border-radius: 50px;
  padding: 11px 15px;
}
.socalmediasec p a:hover{
  background-color: #15A7E8;
  color: #fff;
}
.socalmediasec p a:hover i {
  color: #fff;
}

.socalmediasec p a i {
  color: #000;

}


.seccopy {
  margin: 0;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  color: #0B1A48;
  font-weight: 600;
}

.seccopy span {
  color: #15A7E8;
}

.secpoli {
  text-align: right;
  color: #000;
}

.secpoli a {
  font-family: 'Poppins';
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
.secfooter2bg {
  background-color: #f7f7f7;
  padding: 10px 35px 20px 35px;
}


/* about */
.head-sec-bgg2 {
  background-image: url(../images/about-hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 160px 0px 220px 0px;
  margin-top: -30px !important;
}

.sec-aboy-padd {
  padding: 60px 0px;
}

.sec-all-box-bgg {
  border-radius: 20px;
  border: 1px solid #F2F2F2;
  background: #E8F4F4;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 30px;
}

.sec-solu-h {
  color: #000;
  font-size: 22px;
  font-family: 'Poppins';
  font-weight: 500;
}

.sec-solu-p {
  color: #757575;
  font-size: 16px;
  font-family: 'Poppins';
  line-height: 179.5%;
}

.sec--ord-p {
  color: #565656;
  text-align: center;
  font-size: 20px;
  padding: 40px 0px;
  line-height: 30px !important;
  font-family: 'Poppins';
  line-height: 100%;

}
.sec-wee-h {
  color: #000;
  font-size: 60px;
  font-family: 'Poppins';
  font-weight: 600;
  padding-top: 0px;
  text-transform: capitalize;
}

.sec-why-h {
  color: #000;
  font-size: 40px;
  font-family: 'Poppins';
  font-weight: 600;
}

.sec-bed-wh::before {
  content: "";
  width: 150px;
  height: 180px;
  position: absolute;
  background: #eff1ff;
    border-radius: 0px 0px 50px 0px;
  background-repeat: no-repeat;
  z-index: -1;
}

.secpro-p {
  color: #565656;
  font-size: 18px;
  font-family: 'Poppins';
  line-height: 160%;
}

.sec-gal-h {
  color: #000;
  text-align: center;
  font-size: 60px;
  font-family: 'Poppins';
  font-weight: 600;
  text-align: center;
}
.sec-tra-p {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins';
  line-height: 179.5%;
  padding: 40px 0px 0px 0px;
}
.sec-ask-h {
  color: #0B1A48;
  text-decoration: none;
}
.cont-sec-ico {
  color: #0B1A48;
  font-size: 50px;
  font-weight: 900;
}
.cont-sec-ih {
  color: #000;
  font-size: 30px;
  font-family: 'Open Sans';
  font-weight: 700;
}
.sec-cont-p {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.cont-sec-ih {
  color: #000;
  font-size: 30px;
  font-family: 'Open Sans';
  font-weight: 700;
}
.sec-get-bg {
  background: #DFEEFF;
  padding: 80px;
}
.sec-grt-h {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins';
  font-weight: 700;
  padding-bottom: 50px;
}
input {
  height: 50px;
}
::placeholder {
  color: #959595;
  font-size: 20px;
  font-family: 'Poppins';
  padding-left: 0px;
}
.sec-con-btn {
  border-radius: 15px;
  background: #E01D42;
  color: #FFF;
  font-size: 20px;
  font-family: 'Poppins';
  letter-spacing: 1.3px;
  padding: 15px 30px;
}
.sec-con-btn:hover{
  background: #15A7E8;
  color: #fff;
}
.conttext{
  padding-top: 150px;
}
.mobilesec{
  display: none;
}